@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/fusion-pixel-12px-monospaced-zh_hans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PixelFont', sans-serif;
    background-color: #E9E9E9;
    margin: auto;
}

/* 脚标 */
footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

/* 更好的高亮显示 */
.sketchy-mark {
    background-image: paint(sketchyBackground);
    --lineWidth: 3;
    --lineColor: #F7CE46;
    padding: 3px 2px;
    /* display: inline-block; */
}

/* 更好的边框 */
.sketchy-box {
    --rough-stroke: #F7CE46;
    --rough-stroke-width: 1.5px;
    --rough-roughness: 3;
    padding: 2.5em 3em;
    background-image: paint(roughBox);
}

/* 更好的下划线 */
.sketchy-underline {
    --lineColor: #FF8040;
    --lineNumber: 3;
    --lineSpread: -2;
    --lineWidth: 1.2;
    background-image: paint(sketchyUnderline);
    padding-bottom: 5px;
}