@font-face {
    font-family: 'PixelFont';
    src: url('../fonts/fusion-pixel-12px-monospaced-zh_hans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PixelFont', sans-serif;
    background-color: #f4f4f4;
    margin: auto;
}

header {
    background-color: #333;
    color: #f4f4f4;
    padding: 0 0;
}

header:hover {
    background-color: #f4f4f4;
    color: #333;
}

main {
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

/* 脚标 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

/* 左右导航 */
.rightbar {
    position: fixed;
    bottom: 50px;
    right: 0;
}

.leftbar {
    position: fixed;
}

/* 打印效果 */
.typing {
    width: 50%;
    margin: auto;
    width: 21em;
    white-space: nowrap;
    border-right: 2px solid transparent;
    animation: typing 3.5s steps(21, end), blink-caret .75s step-end infinite;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 21em;
    }
}

/* 更好的高亮显示 */
.sketchy {
    background-image: paint(sketchyBackground);
    --lineWidth: 3;
    --lineColor: rgba(247, 206, 70, 1);
    padding: 3px 2px;
    /* display: inline-block; */
}

.boxtest {
    --rough-stroke: rgba(247, 206, 70, 1);
    --rough-stroke-width: 1.5px;
    --rough-roughness: 3;
    padding: 2.5em 3em;
    background-image: paint(roughBox);
}